{
    "root": true,
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "plugin:prettier/recommended",
        "eslint:recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "parserOptions": {},
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": 1
    }
}
